.widgetBtn {
  cursor: pointer;
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
  background-color: #1FDF64;
  color: #0F0D13;
  border-radius: 6px;
  font-weight: bold;
  padding: 0 24px;
  height: 46px;
  outline: none;
  border: 0;
  position: absolute;
  top: 90px; 
  transition: transform 0.2s ease;
}

.widgetBtn:hover {
  transform: scale(1.05);
}